.channel-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
}

.channel-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.channel-lock-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.channel-attr-viewer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.channel-attr-editor-container {
    display: grid;
    grid-template-columns: auto 60px auto auto;
    grid-template-rows: auto auto;
    gap: 10px;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
